@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

.beating-heart {
    color: #ff3366;
    font-size: 24px;
    animation: pulse 0.8s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.7; }
  }